{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"]
                // "alias": {
                //   "components": path.resolve(__dirname, "src/components/")
                // }
            }
        ]
    ]
}
