html {
  font-size: 1rem;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.App.single {
  padding: 10px;
}

.App header {
  padding: 1em;
}
.chart-wrapper {
  margin: 1em 0;
}

#title a {
  color: white;
}

p.lead {
  font-size: medium;
}

.card-text {
  color: #282c34;
}

.last .card-text {
  font-size: xxx-large;
}

.card-text.highlighted {
  color: #ffbe00;
  overflow-wrap: normal;
}

.card {
  background-color: #2e3e57;
}
.card.last {
  margin: 5px 2px;
  width: 30%;
  min-width: 130px;
  min-height: 140px;
  border: 1px solid #ffbe00;
}

@media only screen and (max-width: 600px) {
  .card.last .card-text {
    font-size: 14vw;
  }
  .card.last {
    width: 48%;
  }
  .card.last.big-counter {
    width: 100%;
  }
}

.card.last .card-title {
  text-transform: uppercase;
  font-size: small;
}

header .card {
  background-color: #ee8b00;
}

.blockquote-footer {
  font-size: 60%;
}

.last .card-title,
.last p {
  margin: 0;
  padding: 0;
}

.footer {
  padding: 2em;
  font-size: small;
}

.footer.single {
  padding: 10px;
  font-size: small;
}

.last-counter {
  display: flex;
  padding: 2em 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.compare {
  text-align: justify;
  overflow: hidden;
}
/* 
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 */

h2,
h3 {
  font-size: 1rem;
}
