.fade-enter {
  max-height: 50px;
  height: auto;
}
.fade-enter-active {
  transition: max-height 1s;
  max-height: 30em;
  height: auto;
}
.fade-exit {
  max-height: 30em;
  height: auto;
}
.fade-exit-active {
  transition: max-height 1s;
  max-height: 50px;
  height: auto;
}
